.window {
    font-family: georgia;
    font-size: 18px;
    margin: 80px 120px 0 120px;
    text-align: justify;
    color: #777A8F;
}

p.img {
    text-decoration: underline;
    font-weight: bold;
}

img {
    display: none;
    width: 400px;
    position: relative;
    border-radius: 5px;
    border: 2px solid #155F98;
}

.empty {
    height: 200px;
}

.color {
    color: #155F98;
}

h1 {
    font-family: georgia;
    font-size: 28px;
}