<div class="container">
  {{outlet}}

    <a class="item small item1" href="http://carbfight.jocellyn.cz/"><img src="/img/carb_fight.png"></a>
    <a class="item small item2" href="mailto:sanna23@icloud.com"><img src="/img/email.png"></a>
    <a class="item small item3" href="http://blog.jocellyn.cz"><img src="/img/jocellyn.png"></a>
    <a class="item small item4" href="#"><img src="/img/cv.png"></a>
    <a class="item small item5" href="http://cowees.tumblr.com/"><img src="/img/kravik.png"></a>
    <a class="item small item6" href="https://www.facebook.com/jocellynka"><img src="/img/facebook.png"></a>
    <a class="item small item7" href="#"><img src="/img/photos.png"></a>
    <a class="item small item8" href="https://twitter.com/jocinka"><img src="/img/twitter.png"></a>
    <a class="item large item9" href="#"><img src="/img/me.png"></a>

</div>
